<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.quemb.qmbform">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        >

        <activity
            android:name=".view.SignatureActivity"
            android:label="@string/signature_title"
            android:launchMode="standard" />
    </application>

</manifest>
